{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}


{% block monTitre %}
    L'armes {{arme.nom}}
{% endblock %}



{% block body %}
    <div class="row">
        <div class="col-4">
            <img src="{{ asset( 'images/armes/' ~ 
                arme.nom|replace({'É': 'e' , 'é': 'e' }) ~  '.png')}}">
            
        </div>
        <div class="col" >
          <div style='margin-top:30px'>  {{arme.nom}}</div>
          <div> description : {{arme.descri}}</div>
          <div >Degats : {{arme.degat}}</div>
        </div>
    </div>
{% endblock %}
